Homework Task 4 - Pandas Challenge

In [1]:
# Import the Dependencies.

import pandas as pd

In [2]:
# Files to Read from:

file_schools = "Resources/schools_complete.csv"
file_students = "Resources/students_complete.csv"

In [3]:
# Create Data Frames.

school_data_df = pd.read_csv(file_schools)
student_data_df = pd.read_csv(file_students)

In [4]:
# Display the newly formed school Data Frame.

school_data_df.head(3)

   School ID           school_name      type  size   budget
0          0     Huang High School  District  2917  1910635
1          1  Figueroa High School  District  2949  1884411
2          2   Shelton High School   Charter  1761  1056600

In [5]:
# Display the newly formed student Data Frame.

student_data_df.head(3)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [6]:
# Calculate the total number of schools in the district.

unique_schools=school_data_df["school_name"].unique()
number_schools=len(unique_schools)
number_schools

15

In [7]:
# Calculate the total number of students in the district.

unique_students=student_data_df["Student ID"].unique()
number_students=len(unique_students)
number_students

39170

In [8]:
# Calculate the average Maths score in the district.

average_maths=student_data_df["math_score"].mean()
average_maths

78.98537145774827

In [9]:
# Calculate the average Reading score in the district.

average_reading=student_data_df["reading_score"].mean()
average_reading

81.87784018381414

In [10]:
# Calculate the total schools budget for the district.

total_budget=school_data_df["budget"].sum()
total_budget

24649428

In [11]:
#Determine which students scored 70 or higher in Maths.

passing_maths_df=student_data_df.loc[student_data_df["math_score"] >= 70, ["Student ID"]]

# Determine how many students scored 70 or higher in Maths.

unique_passing_maths=passing_maths_df["Student ID"].unique()
number_passing_maths=len(unique_passing_maths)

# Determine the percentage of students who scored 70 or higher in Maths.

percentage_passing_maths=100*number_passing_maths/number_students
percentage_passing_maths

74.9808526933878

In [12]:
#Determine which students scored 70 or higher in Reading.

passing_reading_df=student_data_df.loc[student_data_df["reading_score"] >= 70, ["Student ID", "math_score"]]

# Determine how many students scored 70 or higher in Reading.

unique_passing_reading=passing_reading_df["Student ID"].unique()
number_passing_reading=len(unique_passing_reading)

# Determine the percentage of students who scored 70 or higher in Reading.

percentage_passing_reading=100*number_passing_reading/number_students
percentage_passing_reading

85.80546336482001

In [13]:
#Determine which students scored 70 or higher in Reading and Maths.

passing_both_df=passing_reading_df.loc[passing_reading_df["math_score"] >= 70, ["Student ID"]]

# Determine how many students scored 70 or higher in Reading and Maths.

unique_passing_both=passing_both_df["Student ID"].unique()
number_passing_both=len(unique_passing_both)

# # Determine the percentage of students who scored 70 or higher in Reading and Maths.

percentage_passing_both=100*number_passing_both/number_students
percentage_passing_both

65.17232575950983

In [14]:
#Create a new Data Frame with the appropriate column headings:

district_summary_df = pd.DataFrame([{"Number of Schools":number_schools,"Number of Students":number_students,"Budget":total_budget,"Average Maths Score":average_maths,"Average Reading Score":average_reading,"% Passing Maths":percentage_passing_maths,"% Passing Reading":percentage_passing_reading,"% Pass Maths and Reading":percentage_passing_both}])
district_summary_df

,Number of Schools,Number of Students,Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Pass Maths and Reading
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type